<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>Enquete Social Network</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="~/styles.css">
	</head>

	<body>
		<div class="container">
			<h3 class="text-uppercase mt-3">Bedankt Voor Onze Enquete In Te Vullen</h3>
		</div>
	</body>
</html>
