<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>Enquete Social Network</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
		<link rel="stylesheet" href="~/styles.css">

		<script type="text/javascript" src="https://unpkg.com/vue"></script>
	</head>

	<body>
		<div class="container">
			<h3 class="text-uppercase mt-3">Sociale Media Enquete</h3>

			<div id="app">
				<form class="mt-3 ml-2 mr-2">
					<div class="form-group">
						<h5>Wat is je geslacht?</h5>

						<div class="input">
							<input type="radio" name="gender" value="man" v-model="gender" checked>
							<label for="gender"><span></span> Man</label>

							<br>

							<input type="radio" value="vrouw" v-model="gender" name="gender">
							<label for="gender"><span></span> Vrouw</label>
						</div>
					</div>

					<div class="form-group">
						<h5>Maak je gebruik van sociale media?</h5>

						<div class="input">
							<input type="radio" name="usesSocialnetwork" v-model="usesSocialmedia" v-bind:value="true" checked>
							<label for="usesSocialnetwork"><span></span> Ja</label>

							<br>

							<input type="radio" v-bind:value="false" v-model="usesSocialmedia" name="usesSocialnetwork">
							<label for="usesSocialmedia"><span></span> Nee</label>
						</div>
					</div>

					<div v-if="usesSocialmedia">
						<div class="form-group">
							<h5>Van welke platformen ben je lid?</h5>

							<div class="input">
								<input type="checkbox" name="fb" value="FaceBook" v-model="platforms">
								<label for="fb"><span></span> FaceBook</label>

								<br>

								<input type="checkbox" name="twitter" value="Twitter" v-model="platforms">
								<label for="twitter"><span></span> Twitter</label>

								<br>

								<input type="checkbox" name="snapchat" value="Snapchat" v-model="platforms">
								<label for="snapchat"><span></span> Snapchat</label>

								<br>

								<input type="checkbox" name="instagram" value="Instagram" v-model="platforms">
								<label for="instagram"><span></span> Instagram</label>

								<br>

								<input type="checkbox" name="other" v-bind:value="otherPlatform" v-model="platforms">
								<label for="other"><span></span> Andere...</label>
								<input type="text" class="ml-2" placeholder="Welke?" v-model="otherPlatform" v-on:change="otherPlatformChange">
							</div>
						</div>

						<div class="form-group">
							<h5>Hoe vaak maak je gebruik van social media?</h5>

							<div class="input">
								<input type="radio" name="amount" value="1x per week" v-model="howOften" checked>
								<label for="amount"><span></span> 1x Per Week</label>

								<br>

								<input type="radio" name="amount" v-model="howOften" value="2x per week">
								<label for="amount"><span></span> 2x Per Week</label>

								<br>

								<input type="radio" name="amount" v-model="howOften" value="3x per week">
								<label for="amount"><span></span> 3x Per Week</label>

								<br>

								<input type="radio" name="amount" v-model="howOften" value="dagelijks">
								<label for="amount"><span></span> Dagelijks</label>

								<br>

								<input type="radio" name="amount" v-model="howOften" value="alleen als je het nodig hebt">
								<label for="amount"><span></span> Alleen Als Je Het Nodig Hebt</label>
							</div>
						</div>

						<div class="form-group">
							<h5>Waarvoor gebruik je social media?</h5>

							<div class="input">
								<input type="checkbox" name="pics" value="Foto's" v-model="whatFor">
								<label for="pics"><span></span> Foto's</label>

								<br>

								<input type="checkbox" name="games" value="Games" v-model="whatFor">
								<label for="games"><span></span> Games</label>

								<br>

								<input type="checkbox" name="talking" value="Met Vrienden Praten" v-model="whatFor">
								<label for="talking"><span></span> Met Vrienden Praten</label>

								<br>

								<input type="checkbox" name="otherReason" v-bind:value="otherReason" v-model="whatFor">
								<label for="other"><span></span> Andere...</label>
								<input type="text" class="ml-2" placeholder="Welke?" v-model="otherReason" v-on:change="otherReasonChange">
							</div>
						</div>

						<div class="form-group">
							<h5>Vindt je social media nodig of kan je ook zonder leven?</h5>

							<div class="input">
								<input type="radio" name="neccessary" v-bind:value="true" v-model="isNeccessary" checked>
								<label for="neccessary"><span></span> Ja</label>

								<br>

								<input type="radio" name="neccessary" v-bind:value="false" v-model="isNeccessary">
								<label for="neccessary"><span></span> Nee</label>

								<br>

								<input type="radio" name="neccessary" v-bind:value="null" v-model="isNeccessary">
								<label for="neccessary"><span></span> Geen Mening</label>
							</div>
						</div>

						<div class="form-group">
							<h5>Wat vind je van sexting?</h5>

							<div class="input">
								<input type="radio" name="sexting" v-bind:value="true" v-model="sextingGood" checked>
								<label for="sexting"><span></span> Goed</label>

								<br>

								<input type="radio" name="sexting" v-bind:value="false" v-model="sextingGood">
								<label for="sexting"><span></span> Slecht</label>

								<br>

								<input type="radio" name="sexting" v-bind:value="null" v-model="sextingGood">
								<label for="sexting"><span></span> Geen Mening</label>
							</div>
						</div>

						<div class="form-group">
							<h5>Ben je ooit slachtoffer geweest van cyberpesten?</h5>

							<div class="input">
								<input type="radio" name="cyberbullying" v-bind:value="true" v-model="hasBeenCyberBullied" checked>
								<label for="cyberbullying"><span></span> Ja</label>

								<br>

								<input type="radio" name="cyberbullying" v-bind:value="false" v-model="hasBeenCyberBullied">
								<label for="cyberbullying"><span></span> Nee</label>

								<br>

								<input type="radio" name="cyberbullying" v-bind:value="null" v-model="hasBeenCyberBullied">
								<label for="cyberbullying"><span></span> Wil Ik Niet Zeggen</label>
							</div>
						</div>

						<button type="button" v-on:click="submitForm">Klaar</button>
					</div>
				</form>
			</div>
		</div>

		<script type="text/javascript" src="~/app.js"></script>
	</body>
</html>
